<style type="text/css">
  <!--

      html, body {
      background-color: #f3f3f0;
      overflow-x: hidden;
      margin: 0px;
      padding: 0px;
      height: 100%;
      }

      #currentpath {
      color: #f3f3f0;
      background-color: #30353b;
      height: 60px;
      margin-top: -10px;
      padding-top: 30px;
      padding-left: 20px;
      }

      #footerbg {
      position: absolute;
      width: 100%;
      height: 18px;
      bottom: 0px;
      padding: 10px 0px;
      background-color: #30353b;
      }

      #footer {
      height: 20px;
      width: 100%;
      padding: 0px 10px;
      margin-top: -4px;
      vertical-align: middle;
      }

      #filelist_frame {
      height: 100%;
      width: 100%;
      min-width: 300px;
      }

      #filelist {
      width: 100%;
      height: 100%;
      }

      #mainview {
      vertical-valign: top;
      horizontal-align: center;
      width: 100%;
      height: 100%;
      }

      #mainview-container {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      padding-top: 100px;
      margin-top: -120px;
      padding-bottom: 20px;
      margin-bottom: -20px;
      }

      #mediaview {
      width: 98%;
      height: 98%;
      padding-left: 10px;
      }

      iframe.preview {
      width: 100%;
      height: 100%;
      }

      //-->
</style>



<h1 id="currentpath" class="title"><%= File.join(@path) %></h1>

<div id="mainview-container">
  <table id="mainview" cellspacing="1" cellpadding="1" border="0">
    <tr>
      <td width="35%">
	<div id="filelist_frame">
	  <iframe id="filelist" src="<%= File.join('/list', @path) %>" frameborder="0" scrolling="auto"></iframe>
	</div>
      </td>

      <td width="1px">
	<div class="vertical-line"/>
      </td>

      <td width="65%">
	<div id="mediaview">
	  <iframe class="preview" src="/preview/Media View.preview" frameborder="0" scrolling="auto"></iframe>
	</div>
      </td>
    </tr>
  </table>

</div>

<div id="footerbg">
  <div id="footer">
    <div id="checkbox">
      <span onClick="reload('<%= @path %>')">
	<table border="0">
	  <tr valign="middle">
	    <td>
	      <img class="invert" id="checkboximg" checked="false" src="/icon/checkbox-empty.png" height="20"/>
	    </td>
	    <td>
	      <div class="footer-text">
		Show hidden files
	      </div> 
	    </td>
	  </tr>
	</table>
      </span>
    </div>
  </div>
</div>

