<style type="text/css">
  <!--

      body {
      height:95%;
      overflow-x: hidden;
      background-color: #f3f3f0;
      }

      #header {
      width: 100%;
      margin-left: -10px;
      margin-top: -30px;
      }

      #filelist {
      min-height: 500px;
      }

      .title {
      color: #f3f3f0;
      background-color: #30353b;
      width: 100%;
      padding: 20px;
      }

      #footer {
      color: #f3f3f0;
      background-color: #30353b;
      width: 100%;

      position:relative;
      bottom: 0;

      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 100px;
      padding-right: 100px;

      margin-bottom: 0px;
      margin-left: -100px;
      }

      //-->
</style>

<script src="/scripts/footerFixed.js"></script>

<div id="header"> 
  <h1 id="currentpath" class="title"><%= File.join(@path) %></h1>
</div>


<table width="100%" height="90%" cellspacing="1" cellpadding="1" border="0">
  <tr>
    <td width="450" height="100%" align="center">
      <div id="filelist_frame" style="height: 100%; horizontal-align: center;">
	<iframe id="filelist" src="<%= File.join('/list', @path) %>" width="100%" height="98%" frameborder="0" scrolling="auto"></iframe>
      </div>
    </td>
    <td>
      <div class="vertical-line" style="height: 100%;" />
    </td>
    <td valign="top">
      <div id="mediaview" style="padding: 5px 20px;">
	<h2>Media View</h2>
	<div class="text">Choose the media file to play in the left contents.</div>
	<div align="center" style="padding: 50px 10px;">
	  <img class="little-invert" src="/icon/MD-video.png" height="250">
	  <img class="little-invert" src="/icon/MD-music.png" height="250">
	  <img class="little-invert" src="/icon/MD-photo.png" height="250">
	</div>
      </div>
    </td>
  </tr>
</table>

<div id="footer">
  <div id="checkbox">
    <span onClick="reload('<%= @path %>')">
      <table border="0">
	<tr valign="middle">
	  <td>
	    <img class="invert" id="checkboximg" checked="false" src="/icon/checkbox-empty.png" height="20" style="vertical-align:middle;" />
	  </td>
	  <td>
	    <div class="footer-text">
	      Show hidden files
	    </div> 
	  </td>
	</tr>
      </table>
    </span>
  </div>
</div>


